<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- Add a link that goes to celebrities/create with the form to create a new celebrity. --}}
<a href="/celebrities/new-celebrity">Add a new celebrity</a>

{{!-- Add a link that goes to the /celebrities route. --}}
<a href="/celebrities">View Celebrities</a>


